## 1. 변수와 자료형

#### 변수(Variable)

- 데이터를 저장하는 공간이며, 값을 할당하여 사용함.

- 특징: 변수는 값을 변경할 수 있으며, 이름을 통해 접근함.

- 장점: 가독성이 좋아지고 코드 유지보수가 용이함.

- 단점: 변수 이름이 부정확하거나 혼동될 경우 디버깅이 어려울 수 있음.


#### 자료형(Data Type)
- **정수형(int)**: 정수를 저장하는 자료형 (`ex: 10, -5`)
- **실수형(float)**: 실수를 저장하는 자료형 (`ex: 3.14, -0.5`)
- **문자열(str)**: 문자 또는 문자열을 저장하는 자료형 (`ex: 'Hello'`)
- **불리언(bool)**: 참(True) 또는 거짓(False) 값 (`ex: True, False`)

**타입 확인 및 변환**:
- `type()` 함수: 자료형 확인
- `int()`, `float()`, `str()`: 자료형 변환

In [ ]:
x = 10  # 정수형 변수
name = 'Alice'  # 문자열 변수 ""
height = 5.8  # 실수형 변수

In [2]:
x = 10
print(type(x))  # <class 'int'>
y = float(x)  # x를 실수로 변환
print(y)

<class 'int'>
10.0

In [4]:
print(type(str(x)))

<class 'str'>

In [7]:
# 문자열 다루기
# 아래 문자열에서 Python만 가져오기
text = "Python Programming"
text[:6]

'Python'

## 2. 리스트
- 여러 개의 데이터를 순서대로 저장하는 자료구조 (변경 가능)

- 특징: 인덱스를 사용하여 요소에 접근 가능

- 장점: 다양한 데이터 처리를 위한 함수와 메서드 제공

- 단점: 대용량 데이터일 경우 메모리 사용량이 높아질 수 있음

**주요 메서드**

- append(): 요소 추가

- remove(): 특정 요소 제거

- len(): 리스트 길이 반환

In [8]:
numbers = [1, 2, 3, 4, 5]

# 요소 추가
numbers.append(6)  # [1, 2, 3, 4, 5, 6]

# 요소 삭제
numbers.remove(3)  # [1, 2, 4, 5, 6]

# 특정 위치 요소 삽입 insert(index, value)
numbers.insert(2, 10)  # [1, 2, 10, 4, 5, 6]

# 리스트 길이 확인
print(len(numbers))  # 6

6

In [16]:
# 1 리스트 요소 추가 및 변경
# 문제 : 리스트 [1,2,3,4,5] 를 생성하고 'apple', 'banana', 'cherry'를 순서대로 추가 하세요.
ex_list = [1,2,3,4,5]
fruits = ['apple', 'banana', 'cherry']
answer_list = ex_list + fruits

In [17]:
# 생성된 리스트에서 마지막 요소를 'blueberry'로 변경하세요.
answer_list[-1] = 'blueberry'
answer_list

[1, 2, 3, 4, 5, 'apple', 'banana', 'blueberry']

In [24]:
# 문제: 리스트 [50, 40, 20, 10, 30] 을 오름차순으로 정렬하세요.
unsorted_list = [50, 40, 20, 10, 30]
# sorted()/ .sort()
# sorted(unsorted_list)
# unsorted_list.sort()
# unsorted_list

In [25]:
# 리스트 [50, 40, 20, 10, 30]를 내림차순으로 정렬하세요.
# unsorted_list.sort(reverse = True)
sorted(unsorted_list, reverse = True)
unsorted_list

[50, 40, 20, 10, 30]

In [27]:
# [4, 2, 6, 1, 7, 6]의 리스트가 있을 때 첫번째 원소부터 마지막원소까지 2개 간격으로 저장된 리스트를 생성.
# 출력 예시 : [4,6,7]
list_ex = [4, 2, 6, 1, 7, 6]
list_ex[::3]

[4, 1]

In [29]:
# 리스트 [1,2,3,4,5,5,6,7,7] 에서 중복된 요소를 제거한 리스트를 만드세요.
# 집합(set) : 중복을 허용하지 않는다.
list1= [1,2,3,4,5,5,6,7,7]
list(set(list1))

[1, 2, 3, 4, 5, 6, 7]

## 3. 튜플

- 변경할 수 없는 리스트

- 특징: 불변(immutable) 자료구조로 값 변경 불가

- 장점: 안전한 데이터 저장에 유용함

- 단점: 요소를 추가하거나 제거할 수 없음

In [30]:
my_tuple = (1, 2, 3, 4, 5)

# 인덱싱 가능
print(my_tuple[0])  # 1

# 슬라이싱 가능
print(my_tuple[1:4])  # (2, 3, 4)

# 요소 변경 불가능
my_tuple[0] = 10  # 오류 발생 (TypeError)

1
(2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [32]:
# 2 튜플 생성 및 불변성
# 문제 : 튜플 ('a', 'b', 'c', 'd')를 생성하고 마지막 요소를 출력하세요.
tuple_a = ('a', 'b', 'c', 'd')
tuple_a[-1]

'd'

In [33]:
# 생성된 튜플에 'e'를 추가하려고 시도해 보세요.
tuple_a[4] = 'e'

TypeError: 'tuple' object does not support item assignment

In [37]:
# 문제 : 튜플 ('Tom', 25, 'Student')를 각각 이름, 나이, 직업으로 언패킹하여 출력하세요.
# ex) 이름은 Tom입니다. 나이는 25살 입니다. 직업은 Student입니다.
person = ('Tom', 30, 'Student')
print(f"이름은 {person[0]}입니다. 나이는 {person[1]}살 입니다. 직업은 {person[2]}입니다.")

이름은 Tom입니다. 나이는 30살 입니다. 직업은 Student입니다.

### 연습문제

In [ ]:
list = []

In [48]:
# 파이썬 예약어를 변수명으로 사용하면 안됨. dict ,tuple,....
# append/ extend
list_a = [1,2,3,4,5]
list_a.append([1,2])
# list_a.extend([1,2])
list_a

[1, 2, 3, 4, 5, [1, 2]]

In [51]:
# 문제 : 리스트 [10, 20, 30, 40, 50, 60]에서 짝수 번째 요소만 저장된 새 리스트를 만들어 출력
# 출력예시 : [20,40,60]
list_1 = [10, 20, 30, 40, 50, 60]
list_1[1::2]

[20, 40, 60]

In [53]:
# 문제: 리스트 [10, 20, 30, 40]의 모든 요소를 더한 값을 구하는 코드를 작성하세요.
list_2 = [10, 20, 30, 40]
sum(list_2)

100

In [40]:
# 문제: 리스트 [5, 3, 7, 1, 9]에서 숫자 7의 인덱스 위치를 찾아 출력하세요.
list_i = [5, 3, 7, 1, 9]
list_i.index(7)

2

In [57]:
# 문제: 튜플 (1, 3, 3, 5, 3, 7)에서 숫자 3이 몇 번 등장하는지 구하세요.
tuple_1 = (1, 3, 3, 5, 3, 7)
tuple_1.count(7)

1

In [59]:
# 문제: 리스트 [15, 22, 8, 3, 19]에서 가장 큰 값과 작은 값을 구하세요.
list_3 = [15, 22, 8, 3, 19]
max(list_3)
min(list_3)

3

In [61]:
# 문제: 리스트 [1, 2, 3, 4, 5]의 각 요소를 제곱한 새로운 리스트를 만드세요.
list6 = [1, 2, 3, 4, 5]
new_list = []

for l in list6:
    new_list.append(l**2)
    
print(new_list)

# list comprehension
[i**2 for i in list6]           # i=1 , i=2, i=3, i=4, i=5

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [65]:
for num in list6:
    print(num**2)

1
4
9
16
25

In [1]:
# 문제: 튜플 (10, 20, 30)을 리스트로 변환하고, 40을 추가한 후 다시 튜플로 변환하세요.
tuple_3 = (10, 20, 30)
list_7 = list(tuple_3)
list_7.append(40)
tuple(list_7)

(10, 20, 30, 40)

In [69]:
# 문제: 리스트 [1, 2, 3, 4, 5]의 순서를 반대로 뒤집은 리스트를 만드세요.
list8 =[1, 2, 3, 4, 5]
# sorted(list8, reverse=True)
list8[::-1]

[5, 4, 3, 2, 1]

In [72]:
# 문제: 2x2 크기의 2차원 리스트 [[1, 2], [3, 4]]를 생성하고, 3에 접근하여 출력하세요.
list9 = [[1, 2], [3, 4]]
list9[1][0]

3